MONGODB_CONNECTION_URI='mongodb://[username]:[password]@[host]:27017/[dbname]?retryWrites=false&loadBalanced=false&serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-1'